@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
/* Variables */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  border: 0;
  height: 100%;
}

body .container-fluid, html .container-fluid {
  padding: 0;
}

@media (min-height: 700px) {
  body .container-fluid, html .container-fluid {
    height: 100%;
  }
}

body {
  overflow-x: hidden;
}

/* MAIN */
.main {
  background: #000;
  color: #ececec;
  height: 100%;
}

.main .navbar {
  padding-top: 2.4em;
  padding-right: 5em;
  background: #000;
}

.main .navbar .navbar-brand {
  font-family: 'Cedarville Cursive',cursive;
  margin-left: 3em;
}

.main .navbar .navbar-toggler {
  border-color: #ececec;
}

.main .navbar .navbar-toggler:focus {
  outline: none;
}

.main .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236, 236, 236, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 992px) {
  .main .navbar .nav-item a {
    margin: 1em 0 0 3.5em;
    width: 12em;
    border-bottom: 1px solid #fff;
  }
  .main .navbar .nav-item a:hover {
    color: #ececec;
  }
}

@media (min-width: 992px) {
  .main .navbar .nav-item a {
    margin: 0 5em 0 0;
    border: 0;
    width: 100%;
  }
  .main .navbar .nav-item a:after {
    display: block;
    content: '';
    border-bottom: 1px solid #ececec;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    width: 70%;
    padding-bottom: .3em;
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  .main .navbar .nav-item a:hover:after {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.main .navbar a {
  color: #D5D5D5;
  text-decoration: none;
}

.main__section {
  -webkit-box-shadow: 8px 20px 35px -25px black;
          box-shadow: 8px 20px 35px -25px black;
  background-color: #000;
}

.main__section__box {
  width: 65%;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .main__section__box {
    width: 80%;
  }
}

.main__section__box--prof-pic {
  border-radius: 50%;
  width: 30em;
  height: 30em;
  overflow: hidden;
  margin: 10em auto;
}

@media (max-width: 1100px) {
  .main__section__box--prof-pic {
    width: 25em;
    height: 25em;
  }
}

@media (max-width: 767px) {
  .main__section__box--prof-pic {
    width: 20em;
    height: 20em;
    margin: 10em auto 0;
  }
}

.main__section__box--prof-pic img {
  width: auto;
  height: 100%;
}

.main__section__box--description {
  font-size: 1.2em;
  width: 90%;
  margin: 10em 2em;
  line-height: 2;
  letter-spacing: 0.1em;
}

.main__section__box--description div {
  font-size: 1.6em;
}

@media (max-width: 767px) {
  .main__section__box--description {
    margin-top: 6em;
  }
}

.main__section .arrowDown > svg {
  color: white;
  height: 50px;
  bottom: 10px;
  -webkit-animation: down 2s ease infinite;
          animation: down 2s ease infinite;
}

@-webkit-keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}

.certifications {
  margin-top: 2.5em;
}

.certifications__section {
  margin-top: 5em;
  text-align: center;
}

.certifications__section--left--item, .certifications__section--right--item {
  width: 40em;
  padding: 1em;
  margin: 2em 5em;
  -webkit-box-shadow: 10px 10px 25px 0px #aaa;
          box-shadow: 10px 10px 25px 0px #aaa;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.certifications__section--left--item:hover, .certifications__section--right--item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.certifications__section--left--item img, .certifications__section--right--item img {
  width: 11em;
  height: 11em;
  margin-left: 2em;
}

.certifications__section--left--item .cert_description, .certifications__section--right--item .cert_description {
  margin: auto 0;
}

@media (min-width: 992px) {
  .certifications__section--left {
    padding-left: 13em;
  }
}

@media (min-width: 992px) {
  .certifications__section--left h3 {
    margin: 0 0 1.2em 2.3em;
  }
}

@media (min-width: 992px) {
  .certifications__section--right h3 {
    margin: 0 3.2em 1.2em 0;
  }
}

.certifications__section a {
  color: #000;
  text-decoration: none;
}

.certifications__section span.provider {
  font-weight: 600;
}

.certifications__section #grayed-out {
  color: #aaa;
}

/* ABOUT ME */
.about-me {
  position: relative;
  width: 100%;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 2em;
  margin: 1em 0 8em;
}

@media (max-width: 900px) {
  .about-me {
    font-size: 17px;
  }
}

@media (max-width: 500px) {
  .about-me {
    font-size: 16px;
    margin: 0.5em 0 3em;
  }
}

.about-me__section--text {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 1150px) {
  .about-me__section--text {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .about-me__section--text {
    width: 75%;
  }
}

@media (max-width: 550px) {
  .about-me__section--text {
    width: 78%;
  }
}

.about-me__section--text span {
  font-weight: 600;
  font-size: 30px;
}

/* FOOTER */
footer {
  background-color: #1E1E1E;
  color: #fff;
  height: 17em;
  text-align: center;
}

@media (max-width: 700px) {
  footer {
    height: initial;
  }
}

footer .footer__section--title {
  font-size: 2em;
  margin-top: 2em;
}

footer .footer__section--title h3 {
  font-size: 0.9em;
}

footer .footer__section--social {
  width: 30%;
  margin: 1.5em auto;
}

@media (max-width: 1200px) {
  footer .footer__section--social {
    width: 50%;
  }
}

footer .footer__section--social .fa {
  padding: 25px;
  font-size: 40px;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 600px) {
  footer .footer__section--social .fa {
    padding: 25px 0;
    font-size: 35px;
  }
}

footer .footer__section--social .fa:hover {
  color: #D5D5D5;
}

#arrow-to-top {
  position: fixed;
  width: 3.41428571em;
  height: 3.41428571em;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  right: 1.85714286em;
  bottom: 3.71428571em;
  padding-top: 12px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
  z-index: 99;
  border: 1px solid #ececec;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  outline: none;
  border: 1px solid #2E2E2E;
}

#arrow-to-top .fa {
  color: #2E2E2E;
  position: relative;
  bottom: 17.4px;
  right: 4.3px;
  padding: 15px;
  font-size: 30px;
}

#arrow-to-top:not(.active) {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  -webkit-transform: translate3d(0, 20px, 0);
  /*pointer-events: none;*/
}

#arrow-to-top.active:hover {
  cursor: pointer;
  transform: translate3d(0, -3px, 0);
  -webkit-transform: translate3d(0, -3px, 0);
}
/*# sourceMappingURL=styles.css.map */