@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


			/* Variables */

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

$black: #000;
$white: #fff;
$off-white: #ececec;
$grey: #D5D5D5;
$dark-grey: #2E2E2E;
$blue: rgb(66, 122, 206);

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	border: 0;
	// height: 100%;
	overflow-x: hidden; 
	.container-fluid {
		padding: 0;

		@media (min-height: 700px) {
			// height: 100%;
		}
	}
}

body {
	overflow-x: hidden;
}

section {
	margin-top: 2.5em;

	h3 {
		font-weight: 600;
	}
}

.stand-out {
	font-weight: 600;
	font-style: italic;
}
			/* MAIN */
.main {
	background: $black;
	color: $off-white;
	min-height: 100vh;
	// display:block;

	.navbar {
		padding-top: 2.4em;
		padding-right: 5em;
		background: $black;
		
		@media (max-width: 600px) {
			padding-right: 2.5em;
		}
		.navbar-brand {
			font-family:'Cedarville Cursive',cursive;
			margin-left: 3em;

			@media (max-width: 600px) {
				margin-left: 0.5em;
			}
		}
		.navbar-toggler {
			border-color: $off-white;
			float: right !important;
			&:focus {
				outline: none;
			}
			.navbar-toggler-icon {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236, 236, 236, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
			}
		} 

		.nav-item {
			@media (max-width: $screen-lg) {
				a {
					margin: 1em 0 0 3.5em;
					width: 12em;
					border-bottom: 1px solid $white;
					&:hover {
						color: $off-white;
					}
				}
			}
	
			@media (min-width: $screen-lg) {
				a {
					margin: 0 5em 0 0;
					border: 0;
					width: 100%;

					&:after {
						display: block;
						content: '';
						border-bottom: 1px solid $off-white;
						transform: scaleX(0);
						transition: transform 0.3s ease-in-out;
						width: 70%;
						padding-bottom: .3em;

						transform-origin: 0% 50%;

					}
					&:hover:after {
						transform-origin: 0% 50%;
						transform: scaleX(1);
					}
				}
				
			}	
		}

		a {
			color: $grey;
			text-decoration: none;
		}
	}

	&__section {
		box-shadow: 8px 20px 35px -25px rgba(0, 0, 0, 1);
		background-color: $black;
		
		&__box {
			width: 65%;
			margin: 0 auto;

			@media (max-width: 1300px) {
				width: 86%;
			}
			&--prof-pic {
				border-radius: 50%;
				width: 30em;
				height: 30em;
				overflow: hidden;
				margin: 10em auto;

				@media (max-width: 1100px) {
					width: 25em;
					height: 25em;
				}
				@media (max-width: 767px) {
					width: 20em;
					height: 20em;
					margin: 10em auto 0;
				}
				img {
					width: auto;
					height: 100%;
				}
				
			}

			&--description {
				font-size: 1.2em;
				div {
					font-size: 1.6em;
					margin-bottom: 0.5em;
				}

				@media (max-width: $screen-md) {
					font-size: 1.1em;
				}
				width: 90%;
				margin: 10em 2em;
				line-height: 2;
				letter-spacing: 0.1em;
				
				@media (max-width: 767px) {
					margin-top: 6em;
				}
			}
		}
		
		.arrowDown {
			>svg {
				color: white;
				height: 50px;
				bottom: 10px;
				animation: down 2s ease infinite;
			}
		  }
	}

	@keyframes down {
		0% {
		  opacity: 0;
		  transform: translateY(-10px);
		}
		100% {
		  opacity: 1;
		}
	  }
}

			/* ABOUT ME */
.about-me {
    font-size: 1.2em;
	// width: 100%;
    // letter-spacing: 0.02em;
	// margin: 1em 0 8em;

	// @media (max-width: 900px) {
	// 	font-size: 17px;
	// }

	// @media (max-width: 500px) {
	// 	font-size: 16px;
	// 	margin: 0.5em 0 3em;
	// }
	
	@media (max-width: $screen-md) {
		font-size: 1.1em;
	}

	&__section {
		margin-top: 2em;

		&--description {
			// width: 60%;
			// padding: 0 15em;
			width: 70%;
			margin: 0 auto;

			@media (max-width: 1150px) {
				width: 80%;
			}

			@media (max-width: 500px) {
				width: 85%;
			}

			@media (max-width: 550px) {
				width: 86%;
			}
			// @media (max-width: 1700px) and (min-width: 1530px) {
			// 	padding: 0 10em;
			// }
			// @media (max-width: 1529px) {
			// 	padding: 0 4em;
			// }
		// 	@media (max-width: 1150px) {
		// 		width: 70%;
		// 	}

		// 	@media (max-width: 500px) {
		// 		width: 75%;
		// 	}

		// 	@media (max-width: 550px) {
		// 		width: 78%;
		// 	}

		// 	span {
		// 		font-weight: 600;
		// 		font-size: 30px;
		// 	}
			&--text {
				line-height: 2em;
			}
			.components {
				font-size: 1.1rem;
				display: flex;
				flex-wrap: wrap;
		
				justify-content: space-around;
				margin-top: 3.5em;
				line-height: 1.6em;

				@media (max-width: $screen-lg) {
					flex-direction: column;
					align-items: center;
					// justify-content: space-between;
				}

				@media (max-width: $screen-md) {
					// font-size: 1em;
				}
				.component {
					margin-bottom: 3.5em;
					padding: 1em 1.1em;
					text-align: center;
					box-shadow: 10px 10px 25px 0px #aaa;
					border-radius: 20px;
					height: 18em;
					width: 18em;
					display: flex;
					flex-direction: column;

					@media (max-width: $screen-lg) {
						margin-bottom: 2em;
					}

					&--icon {
						margin-bottom:0.5em;
						i {
							font-size: 4em;
						}
					}

					&--text {
						margin-top: 1em;
					}

					h4 {
						font-size: 1.4rem;
						font-weight: 800;
					}
				}
			}
			
		}
	}	
}

.certifications {
	&__section {
		text-align: center;
		// padding: 0 15em;
		margin: 5em auto;
		width: 75%;

		@media (min-width: 1200px) and (max-width: 1700px) {
			width: 85%;
		}
		// @media (max-width: 1700px) and (min-width: $screen-xxl) {
		// 	padding: 0 10em;
		// }
		// @media (min-width: $screen-xxl){
		// 	padding: 0 4em;
		// }
		// @media (min-width: $screen-xl) {
		// 	padding: 0 2em;
		// }
		// @media (max-width: 1000px) {
		// 	padding: 0 6em;
		// }
		&--left--item, &--right--item {
			// width: 40em;
			padding: 1em;
			margin: 2em 2em;
			box-shadow: 10px 10px 25px 0px #aaa;
			transition: all 0.3s;

			@media (max-width: 1600px) {
				// width: 90%;
			}

			@media (max-width: $screen-xl) {
				margin: 3em 0;
			}
			// @media (max-width: $screen-lg) {
			// 	width: 20em;
			// 	&>row {
			// 		display: flex;
			// 		flex-direction: column;
			// 	}
				
			// }
			

			&:hover {
				transform: scale(1.05);
			}

			img {
				width: 11em;
				height: 11em;

				@media (min-width: 1200px) {
					margin-left: 2em;
				}
				
			}

			.cert_description {
				margin: auto 0;

				@media (max-width: 1200px) {
					margin: 2em 0 1em;
				}
			}
		}
		// &--left {
		// 	@media (min-width: $screen-lg) {
		// 		// padding-left: 13em;
		// 	}

		// 	@media (min-width: $screen-lg) {
		// 		h3 {
		// 			// margin: 0 0 1.2em 2.3em;
		// 		}
		// 	}			
		// }
		
		// &--right {
		// 	@media (min-width: $screen-lg) {

		// 		h3 {
		// 			// margin: 0 3.2em 1.2em 0;
		// 		}
		// 	}
		// }

		a {
			color: #000;
			text-decoration: none;
		}
		span.provider {
			font-weight: 600;
		}
		#grayed-out {
			color: #aaa;
		}
	}
}
			/* FOOTER */
footer {
	background-color: $dark-grey;
	color: $white;
	height: 17em;
	text-align: center;

	@media (max-width: 700px) {
		height: initial;
	}

	.footer__section {
		&--title {
			font-size: 2em;
			margin-top: 2em;
			h3 {
				font-size: 0.9em;
			}
		}

		&--social {
			width: 30%;
			margin: 1.5em auto;

			@media (max-width: 1200px) {
				width: 50%;
			}

			.fa {
				padding: 25px;
				font-size: 40px;
				color: #fff;
				text-decoration: none;

				@media (max-width: 600px) {
					padding: 25px 0;
					font-size: 35px;
				}
			}
			.fa:hover {
				color: #D5D5D5;
			}
		}
	}
	
}

#arrow-to-top {
	display: none;
	position: fixed;
	width: 3.41428571em;
	height: 3.41428571em;
	background: $white;
	border-radius: 50%;
	text-align: center;
	right: 1.85714286em;
	bottom: 3.71428571em;
	padding-top: 12px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
	z-index: 99;
	border: 1px solid $off-white;
	transition: 0.2s ease-out;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	outline: none;
	border: 1px solid $dark-grey;

	@media (max-width: $screen-md) {
		width: 2.91428571em;
		height: 2.91428571em;
		// right: 2.5em;
	}
	.fa {
		color: $dark-grey;
		position: relative;
		bottom: 17.4px;
		right: 4.3px;
		padding: 15px;
		font-size: 30px;

		@media (max-width: $screen-md) {
			right: 0.27em;
			bottom: 0.7em;
		}
	  }
	&:not(.active) {
		opacity: 0;
		transform: translate3d(0, 20px, 0);
		-webkit-transform: translate3d(0, 20px, 0);
		/*pointer-events: none;*/
	}
	&.active:hover {
		cursor: pointer;
		transform: translate3d(0, -3px, 0);
		-webkit-transform: translate3d(0, -3px, 0);
	}
}