body, html {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Quicksand', sans-serif;
	border: 0;
	top: 0;
}

header {
	/*position: fixed;*/
	z-index: 2;
	width: 100%;
	/*height: 80px;*/
	margin: 0;
	font-size: 20px;
	transition: background 0.5s;
	transition-timing-function: ease-in;
}
header ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0;
	float: right;
	/*height: 100%;*/
	margin-right: 45px;
	list-style: none;
	/*overflow-y:auto;
  	overflow-x:hidden;*/
}
header a {
	margin-right: 65px;
	/*margin-bottom: 20px;*/
	text-decoration: none;
	color: #fff;
}
/* MAIN */
#main {
	color: #fff;
	 background-position: center;
	background-size: cover;
	background-image:linear-gradient( rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.4) ), url(ChrisPetalotis.github.io/blake-connally-373084-unsplash.webp);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	text-align: center;
	
}
#main-text {
	text-transform: uppercase;
}

.intro {
	font-weight: 550;
	font-size: 25px;
	margin-bottom: 50px;
}

.intro div {
	font-weight: 600;
	font-size: 65px;
}

#main-text button {
	background-color: rgb(79, 117, 201);
	padding: 12px 32px;
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 17px;
	cursor: pointer;
}
#main-text button:hover {
	background-color: rgba(79, 117, 201, 0.9);
}
#main-text .details {
	font-size: 23px;
	font-weight: 550;
}

/* ABOUT-ME */
#about-me {
	min-height: 70vh;
	font-size: 22px;
	border-top: 1px solid #D5D5D5;
}
#about-me-text {
	position: relative;
	top: 35px;
	padding: 120px;
	margin: auto;
	line-height: 2em;
	align-self: center;
}

footer {
	border-top: 2px #D5D5D5 solid;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #3A65C4FF;
	padding: 5%;
	color: #fff;
	top: 0;
	bottom: 0;
	min-height: 79vh;
}
footer #email, footer #connect {
	text-align: center;
}
footer h3 {
	font-size: 2em;
}
footer #connect {
	margin-top: 150px;
	left: 30px;
}
footer .fa {
	padding: 15px;
	font-size: 30px;
	color: #fff;
	text-decoration: none;
}
footer .fa:hover {
	color: #D5D5D5;
}
#email h3 {
	margin-bottom: 40px;
}

#email-adress {
	margin: 15px 0px;
}

header ul a:hover {
    background: none;
    border-bottom: 2px solid #3A65C4FF;
}
header li {
    -webkit-transition: border .2s;
    transition: border .2s;
}

#arrow-to-top {
  position: fixed;
  width: 3.41428571em;
  height: 3.41428571em;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  right: 1.85714286em;
  bottom: 3.71428571em;
  padding-top: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
  z-index: 99;
  border: 1px solid #ececec;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  outline: none;
}
#arrow-to-top .fa {
	color: #3A65C4FF;
	position: relative;
	bottom: 20px;
	right: 9px;
}
#arrow-to-top:not(.active) {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  -webkit-transform: translate3d(0, 20px, 0);
  pointer-events: none;
}
#arrow-to-top.active:hover {
	cursor: pointer;
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
}

@media (min-width: 1550px) {
	footer {
		height: 90vh;
	}
}

@media (max-width: 800px) {
	footer {
		height: 100vh;
	}
}

@media (max-width: 600px) {
	header {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	    /*background: none;*/
		top: 0;
		padding: 0;
		height: 60px;
		width: 100%;
		border: none;
	}
	header ul {
		z-index: 2;
		height: 60px;
		width: 100vw;
		margin: 0;
		padding: 0;
	}
	header #name {
		display: none;
	}
	header ul a {
		/*border-bottom: 1px solid #3A65C4FF;*/
		width: 100%;
		height: 100%;
		margin: 0;
		top: 0;
	}
	header ul a #about{
		border-right: 1px solid #3A65C4FF;

	}
	header ul a:hover {
		border: none;
		color:  #3A65C4FF;
		background-color: #EEE;
	}
	header ul a li {
		position: relative;
		bottom: 7px;
	}
}
