#main {
	font: 20px "Open Sans", Helvetica, sans-serif; 
	color: #fff;
	background-size: cover;
	background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("garrhet-sampson-178990-unsplash.jpg");
	height: 100vh; 
}

#nameBox {
	position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 800px;
     height: 300px;
}

h1
{ 
  font: 46px "Open Sans", Helvetica, sans-serif; 
  color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
  padding: 20px 0;
}

.details {
	padding-top: 200px;
}

.nav{
	list-style: none;
	margin-bottom: 0;
	border-radius: 0;
	border: 0;
	color: #fff;
	padding: 2.1% 0;
	font-size: 1.2em;
}

a {
	color: #fff;
}
